footer{
    width:94%;
    height:calc(325px-6%);
    padding:3%;
    background-color:#003399;
    #logo_footer{
        height:200px;
        width:300px;
        background-color:red;
    }
    nav{
        width:75%;
        height:30px;
        background-color:white;
    }
    
}