nav:first-child {
    position: relative;
    z-index: 300;
    top: 0;
    width: 90%;
    height: 75px;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(255, 255, 255, 1);
    background-color: $Bgrey;
     @include _transition();
    box-shadow: 0 0 5px 2px black;
    &>h1>a:first-child {
        display: block;
        float: left;
        height: 100%;
        img {
            height: 65px;
            margin-top: 5px;
        }
    }
    ul {
        float: right;
        width: 50%;
        display: flex;
        height: 100%;
        line-height: 120px;
        li {
            width: 25%;
            text-align: center;
            a {
                text-decoration: none;
                position: relative;
                color: white;
                display: block;
                height: 100%;
                line-height: 90px;
                 @include _transition();
                font-family: Existence;
                letter-spacing: 4px;
                font-size: 11px;
                &:hover {
                    color: $yellow;
                     @include _transition();
                    &:after {
                        background: rgba(255, 204, 0, 1);
                         @include _transition();
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    background: rgba(255, 204, 0, 0);
                    height: 1px;
                    width: 80%;
                    top: 75%;
                    left: 50%;
                    margin-left: -40%;
                     @include _transition();
                }
                
            }
            &:last-child {
                a {
                    color: white;
                    margin:0 auto;
                    background-color: rgba(255,204,0,0);
                    height:30px;
                    display: block;
                    margin-top:30px;
                    line-height: 30px;
                    border-radius: 20px;
                    width:80px;
                    border:1px solid $yellow;
                }
                a:hover {
                    color: black;
                    background-color: rgba(255,204,0,1);
                    background-color:none;
                    &:after{
                        display: none;
                    }
                    
                }
            }
        }
    }
}

//@keyframes peekaboo {
//    from {
//        top: -90px;
//    }
//    to {
//        top: 0;
//    }
//}
//
//@keyframes peekabooRev {
//    from {
//        top: 0px;
//    }
//    to {
//        top: -90px;
//    }
//}
//
//
//.peekaboo {
//    animation-name: peekaboo;
//    animation-duration: 2s;
//    animation-iteration-count: 1;
//}
//.peekabooRev {
//    animation-name: peekabooRev;
//    animation-duration: 2s;
//    animation-iteration-count: 1;
//}