<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Fitting Room - Créez votre Boutique en ligne en Quelques Clics </title>
    <meta name="description" content="My Fitting Room">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="icon" type="image/png" href="assets/img/favicon32.png">
</head>

<body>
    <header>

        <nav>
            <h1><a href="index.html"><img src="assets/imgs/logo_pro.svg" alt=""></a></h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#concept">Concept</a></li>
                <li><a href="#app">L'application</a></li>
                <li><a href="index.html">Shopper</a></li>
            </ul>
        </nav>


        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide slideContent" data-swiper-autoplay="2500">
                    <div class="rack" id="rack01"></div>
                    <div class="slide-content">
                        <p>Présentez vos collection</p>
                        <div id="boutiquelogo01"></div>
                        <p>Abonnez vous sur</p>
                    </div>
                </div>
                <div class="swiper-slide slideContent" data-swiper-autoplay="2500">
                    <div class="rack" id="rack02"></div>
                    <div class="slide-content">
                        <p>Essayez la collection</p>
                        <div id="boutiquelogo02"></div>
                        <p>Réservez sur</p>
                    </div>
                </div>
                <div class="swiper-slide slideContent" data-swiper-autoplay="2500">
                    <div class="rack" id="rack03"></div>
                    <div class="slide-content">
                        <p>Essayez la collection</p>
                        <div id="boutiquelogo03"></div>
                        <p>Réservez sur</p>
                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <div id="slider-links">
               <div id="logoslider"></div>
                <div id="applelink"></div>
            </div>
        </div>

    </header>
    <section id="concept">
    <h2>Créez votre online store</h2>
     <div class="sectioncontent">
         <div id="concepttext">
            <div id="concepttextwrapper">
             <h3>Augmentez votre Traffic en boutique</h3>
             <p>Petite boutique ? Nouveau Créateur ? Envie de génerer plus de traffic dans votre magasin ?</p>
             <p><em>My Fitting Room</em> vous permet de mettre à dispositon l'intégralité, ou une séléction de pièces à l'essayage.</p>
             <p>Nos Utilisateurs peuvent parcourir comfortablement vos boutiques sur l'application. Ils font leur séléction, et viennent l'essayer en Magasin.</p>
             <p>Nous voulons allier le comfort de l'achat en ligne, en retirant le freins associés aux problèmes de tailles ou de morphologie.</p>
             <p>Après l'essayage, les client repartent avec les produits qui leur conviennent après un passage en caisse.</p>
             </div>
         </div>
         <div id="conceptimg">
             <div id="phoneanim">
                 <div id="phoneconcept">
                      
             </div>
                 <div id="phoneslides">
                     <div id="phoneslide"></div>
                 </div>
                 </div>
               
         </div>
     </div>
    </section>
    <section id="app">
        <h2>L'application</h2>
        <div id="appimg"></div>
        <div id="apptext">
           <div id="apptextcontent">
            <h3>Téléchargez l'application</h3>
            <p>Sur <em>My Fitting Room</em>, découvrez les Créateurs de votre Ville et commencez votre Shopping et réservez votre session d'essayage aujourd'hui !</p>
            <p>Disponible actuellement sur iphone.</p>
               <div id="appstore"></div></div>
        </div>
    </section>
    <section id="pro">
        <h2>Professionnels</h2>
        <div id="procontent">
            <h3>Pour les Créateurs, et les Marques</h3>
            <p>Envie de faire découvrir votre marque ? Multiplier votre traffic en boutique ? Atteindre une nouvelle clientelle ?</p>
            <p>Rejoignez notre réseau aujourd'hui, et mettez vos collections à disposition des Utilisateurs de <em>My Fitting Room</em> !</p>
            <div id="prolink">
                <p>Découvrez</p>
                <div id="mfrpro"></div>
                <a href="">Plus D'informations</a>
            </div>
        </div>
    </section>

    <footer>
        <div id="logo_footer"></div>
        <div id="social">
        
            <ul>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        
        <p>©My Fitting Room 2017</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/basic.js"></script>
</body>

</html>