<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Fitting Room - We Gonna Save that timey ! </title>
    <meta name="description" content="My Fitting Room">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    <link rel="icon" type="image/png" href="assets/img/favicon32.png">
</head>

<body>
    <header>

        <nav>
            <a href="index.html"><img src="assets/imgs/nav_logo.svg" alt=""></a>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Concept</a></li>
                <li><a href="">App</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>


        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </header>
    <section id="concept"></section>
    <section id="app"></section>
    
    
    <footer>
        <div id="logo_footer"></div>
        <nav>
            <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
        <p>©My Fitting Room 2017</p>
        <a href="">Professionnels</a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="assets/js/index.js"></script>
    <script src="assets/js/basic.js"></script>
</body>

</html>