<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
    <h1>My Profile</h1>
    
    <p>{{firstname}}</p>
    <p>{{lastname}}</p>
    <p>{{email}}</p>
    
    
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
</body>
</html>