/** COLORS **/
 //rgba(255,204,0,0)
$yellow: #ffcc00;  //#fbb900
$Bgrey:#2f2f39;

/** SIZE **/
$full : 100%;
$mid : 50%;
$quart : 25%;



/** FONTS **/

//@include font-face("Existence", font-files("../Existence.ttf"), "../Existence.eot",bold,normal);
//@include font-face("Lato", font-files("../fonts/Lato.ttf"), "../../fonts/Lato.eot",bold,normal);
//@include font-face("Hand", font-files("../fonts/Hand.ttf"), "../fonts/Hand.eot",bold,normal);


@font-face {
	font-family: "Hand";
	src: url("../fonts/Hand.eot") format("eot"),
		 url("../fonts/Hand.woff") format("woff"),
		 url("../fonts/Hand.ttf") format("truetype"),
		 url("../fonts/Hand.svg#Samplino") format("svg");
}

@font-face {
	font-family: "Existence";
	src: url("../fonts/Existence.eot") format("eot"),
		 url("../fonts/Existence.woff") format("woff"),
		 url("../fonts/Existence.ttf") format("truetype"),
		 url("../fonts/Existence.svg#Samplino") format("svg");
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato.eot") format("eot"),
		 url("../fonts/Lato.woff") format("woff"),
		 url("../fonts/Lato.ttf") format("truetype"),
		 url("../fonts/Lato.svg#Samplino") format("svg");
}

$basic-font-size : 13px;


